################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mts_integration
/bin/Debug/net8.0
/obj
/.vs/ProjectEvaluation
